{% extends "../layout.html.twig" %}

{% block content %}

    {% for feed in feeds %}
        <h1>{{ feed.title }}</h1>
        {% for entry in feed.entries %}
            <b>{{ entry.title }}</b>&nbsp;
            {% if entry.type == 'Atom' %}
                {{ entry.summary }} : <i>{{ entry.content }}</i> - {{ entry.author }}<br />
            {% elseif entry.type == 'RSS' %}
                {{ entry.description }}
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock %}