{% extends "layout.html.twig" %}

{% block page %}feed{% endblock %}

{% block navbar %}
    <div class="navbar">
        <div class="navbar-inner">
            <!-- Now, Left and Center parts reflect page title and page links, let's slide them -->
            <div class="left sliding">
                <a href="/app.php/feeds/all" class="link">
                    <i class="icon icon-back">&nbsp;</i>
                    <span>Feeds</span>
                </a>
            </div>
            <div class="center sliding">{{ feed.title }}</div>

            <!-- Right part doesn't related to other pages -->
            <div class="right">
                <a href="#" data-id="{{ feed.id }}" class="link icon-only refresh">Refresh</a>
                <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {# <p>{{ feed.description }}</p> #}
    <div class="list-block">
        <ul>
            {% for entry in feed.entries %}
                <li class="list-item">
                    <a href="/app.php/entry/{{ entry.id }}" class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title">
                                {% if not entry.isRead %}<span style="font-weight: bold;">{{ entry.title|raw }}</span>{% else %}{{ entry.title|raw }}{% endif %}
                            </div>
                        </div>
                    </a> 
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}